.App {
  text-align: center;
}

.message {
  width: 100%;
}

.chat-container {
  margin: 10%;
}

.chat-header {
  text-align: start;
  background-color: darkblue;
  padding: 1.5%;
  font-size: large;
  color: aliceblue;
}

.option {
  width: 50%;
}

.option-container {
  width: 100%;
}

.message-log {
  padding-left:10%;
  padding-right:10%;
  display: flex;
  height: 200px;
  justify-content: space-around;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
